:root {
  --jcing-blue: #000066;
  --jcing-blue-inverse: #ffff99;
  --jcing-white: #FFFFFA;
  --jcing-white-inverse: #000005;


  --navbar-aspect-ratio: 5;
  --navbar-mask-margin-left: .5%;
  --navbar-mask-margin-top: calc(.5% * var(--navbar-aspect-ratio));
  --navbar-mask-height: 78%;
  --navbar-mask-width: calc(79% / var(--navbar-aspect-ratio));
  --navbar-image-width: calc(80% / var(--navbar-aspect-ratio));
  --navbar-image-margin: .45%;

  --chapter-padding-large: 100pt;
  --chapter-padding-small: 50pt;

}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: monospace;
  color: var(--jcing-blue);
  background-image: url("/white_paper_tileable.jpg");
  background-color: #FFFFFA;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 2.5em;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
