
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 7em;
  margin-top: -1em;
  margin-right: 10%;
  text-align: right;
  
  font-size: 48pt;
  font-family: monospace;
}

.navLink {
  margin: 0 0 0 auto;
  display: inline-block;
  transition: 0.3s;
}

.navLink:hover {
  transform: scale(1.2);
}

.downArrow {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
  font-size: 48pt;
  animation-name: bobbing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.downArrow div {
  animation-name: spin;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes bobbing {
  0% {transform: translateY(6pt);}
  100% {transform: translateY(0pt);}
}

@keyframes spin {
  0% {transform: scaleX(1);}
  92% {transform: scaleX(1);}
  94% {transform: scaleX(0.2);}
  96% {transform: scaleX(1);}
  98% {transform: scaleX(0.2)}
  100% {transform: scaleX(1)}
}

.chapter {
  margin-bottom: 10em;
}

.chapter * {
  max-width: 1000px;
}

.chapter:nth-of-type(even) * {
  margin-left: auto;
  margin-right: 20%;
}

.chapter:nth-of-type(odd) * {
  margin-left: 20%;
  margin-right: auto;
}

.chapter:nth-of-type(4n-2) {
  --padding-large: 20em;
  --padding-small: 15em;
  background-color: var(--jcing-blue);
  color: var(--jcing-white);
  padding-top: var(--padding-small);
  padding-bottom: var(--padding-large);
  width: 100%;
  clip-path: polygon(
      0% 0%,
      100% calc(var(--padding-large) / 2),
      100% 100%,
      0% calc(100% - var(--padding-small) / 2));
}

.chapter:nth-of-type(4n) {
  --padding-large: 20em;
  --padding-small: 15em;
  background-color: var(--jcing-blue);
  color: var(--jcing-white);
  padding-top: var(--padding-small);
  padding-bottom: var(--padding-large);
  width: 100%;
  clip-path: polygon(
      0% calc(var(--padding-small) / 2),
      100% 0%,
      100% calc(100% - var(--padding-large) / 2),
      0% 100%);
}